
name: Release/Linux

on: push

jobs:
  linux_release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: "Install Node.js, NPM and Yarn"
        uses: actions/setup-node@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          node-version: 14

      - name: Install dependencies & Build release
        run: |
          npm i
          npm run electron:build        
      - name: Created files
        run: ls -l ./dist_electron

      - name: Upload release
        uses: xresloader/upload-to-github-release@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          file: "*.md;dist_electron/*.deb;dist_electron/*.AppImage;LICENSE"
          tag_name: automated_release
          tags: false
          verbose: true
          draft: false
          prerelease: false

  windows_release:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [windows-latest]

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v2

      - name: "Install Node.js, NPM and Yarn"
        uses: actions/setup-node@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          node-version: 14

      - name: Install dependencies & Build release
        run: |
          npm i
          npm run electron:build        
      - name: Created files
        run: dir ./dist_electron

      - name: Upload release
        uses: xresloader/upload-to-github-release@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          file: "*.md;dist_electron/*.exe;LICENSE"
          tag_name: automated_release
          tags: false
          verbose: true
          draft: false
          prerelease: false