name: release

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      - name: "Install Node.js, NPM and Yarn"
        uses: actions/setup-node@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          node-version: 14

      - name: Install dependencies & Build release
        run: |
          npm i
          npm run electron:build        

      - name: Created files
        run: ls -l ./dist_electron

      - name: Upload release
        uses: xresloader/upload-to-github-release@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          file: "*.md;dist_electron/*.deb;dist_electron/*.AppImage;LICENSE"
          tag_name: continuous_linux
          tags: false
          overwrite: true
          verbose: true
          update_latest_release: true
          draft: false
          prerelease: false