
name: Release/Linux, Windows

on: push

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]

    steps:
      - uses: actions/checkout@v1

      - name: "Install Node.js, NPM and Yarn"
        uses: actions/setup-node@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          node-version: 14

      - name: Install dependencies & Build release
        run: |
          npm i
          mv ./node_modules/@vue/reactivity/dist/reactivity.esm-bundler.js ./node_modules/@vue/reactivity/dist/reactivity.esm-bundler.js.old
          cp ./reactivity.esm-bundler.js.new ./node_modules/@vue/reactivity/dist/reactivity.esm-bundler.js
          npm run electron:build        

      - name: Created files
        run: ls -l ./dist_electron

      - name: Upload release
        uses: xresloader/upload-to-github-release@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          file: "*.md;dist_electron/*.exe;LICENSE;dist_electron/*.deb;dist_electron/*.AppImage;dist_electron/*.dmg"
          # delete_file: "*.exe"
          tag_name: continuous_releases
          # overwrite: true
          verbose: true
          draft: false
