name: Release/Linux

on: push

jobs:
  linux_release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: "Install Node.js, NPM and Yarn"
        uses: actions/setup-node@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          node-version: 14

      - name: Install dependencies & Build release
        run: |
          npm i
          npm run electron:build        

      - name: Created files
        run: ls -l ./dist_electron

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            "dist_electron/*.deb"
            "LICENSE"
            "*.md"
            "dist_electron/*.AppImage"
          tag_name: automated_release
          draft: false
          prerelease: false
          body: |
            Nightly release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}


  windows_release:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [windows-latest]

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v2

      - name: "Install Node.js, NPM and Yarn"
        uses: actions/setup-node@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          node-version: 14

      - name: Install dependencies & Build release
        run: |
          npm i
          npm run electron:build        

      - name: Created files
        run: dir ./dist_electron

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            "dist_electron/*.exe"
            "LICENSE"
            "*.md"
          tag_name: automated_release
          draft: false
          prerelease: false
          body: |
            Nightly release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

